@model SIFCA.Models.ProyectoViewModel

@{
    ViewBag.Title = "Crear proyecto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
      var tablaEspecie=$('#especieDataTables').dataTable({
                        "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "Todos"]],
                        "iDisplayLength": 25
                    });

    var tablaEstrato=$('#estratoDataTables').dataTable({
                        "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "Todos"]],
                        "iDisplayLength": 25
                    });

    var tablaFormula=$('#formulaDataTables').dataTable({
                        "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "Todos"]],
                        "iDisplayLength": 25
                    });

    var tablaLocalidad=$('#localidadDataTables').dataTable({
                        "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "Todos"]],
                        "iDisplayLength": 25
                    });

    var tablaCosto=$('#costoDataTables').dataTable({
                        "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "Todos"]],
                        "iDisplayLength": 25
                    });

    $("#guardar").click(function() 
    {
    
        var especieSettings = tablaEspecie.fnSettings();
        especieSettings._iDisplayLength  = -1;
        tablaEspecie.fnDraw();

        var estratoSettings = tablaEstrato.fnSettings();
        estratoSettings._iDisplayLength  = -1;
        tablaEstrato.fnDraw();

        var formulaSettings = tablaFormula.fnSettings();
        formulaSettings._iDisplayLength  = -1;
        tablaFormula.fnDraw();

        var localidadSettings = tablaLocalidad.fnSettings();
        localidadSettings._iDisplayLength  = -1;
        tablaLocalidad.fnDraw();

        var costoSettings = tablaCosto.fnSettings();
        costoSettings._iDisplayLength  = -1;
        tablaCosto.fnDraw();

    });
    
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Información general</a></li>
            <li><a href="#tabs-2">Especies</a></li>
            <li><a href="#tabs-3">Estratos</a></li>
            <li><a href="#tabs-4">Tipo linea inventario</a></li>
            <li><a href="#tabs-5">Formulas y variables</a></li>
            <li><a href="#tabs-6">Costos</a></li>
            <li><a href="#tabs-7">Localidades</a></li>
        </ul>
        <div id="tabs-1">
            <div class="form-horizontal">
                <h4>Crear proyecto</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.Proyecto.FECHA, "Fecha", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Proyecto.FECHA, new { htmlAttributes = new { @class = "form-control", @id = "datepicker" } })
                        @Html.ValidationMessageFor(model => model.Proyecto.FECHA, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Proyecto.NOMBRETIPOINV, "Tipo inventario", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("Proyecto.NOMBRETIPOINV", (SelectList)@ViewBag.Proyecto_NOMBRETIPOINV, htmlAttributes: new { @class = "chosen-select form-control" })
                        @Html.ValidationMessageFor(model => model.Proyecto.NOMBRETIPOINV, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Proyecto.NOMBRE, "Nombre", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Proyecto.NOMBRE, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Proyecto.NOMBRE, "", new { @class = "text-danger" })
                    </div>
                </div>
                
                <div class="form-group">
                    @Html.LabelFor(model => model.Proyecto.DESCRIPCION, "Descripcion", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Proyecto.DESCRIPCION, 5, 116, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Proyecto.DESCRIPCION, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Proyecto.PRESUPUESTO, "Presupuesto", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Proyecto.PRESUPUESTO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Proyecto.PRESUPUESTO, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Proyecto.PLAZO, "Plazo", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Proyecto.PLAZO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Proyecto.PLAZO, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Proyecto.TIPOPLAZO, "Tipo plazo", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("Proyecto.TIPOPLAZO", (SelectList)@ViewBag.tipoPlazo, htmlAttributes: new { @class = "chosen-select form-control" })
                        @Html.ValidationMessageFor(model => model.Proyecto.TIPOPLAZO, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Proyecto.NUMEROPERSONAS, "N° personas", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Proyecto.NUMEROPERSONAS, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Proyecto.NUMEROPERSONAS, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Proyecto.TIPODISENIOMUESTRAL, "Tipo diseño muestral", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("Proyecto.TIPODISENIOMUESTRAL", (SelectList)@ViewBag.tipoDisenioMuetral, htmlAttributes: new { @class = "chosen-select form-control" })
                        @Html.ValidationMessageFor(model => model.Proyecto.TIPODISENIOMUESTRAL, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Proyecto.SELECCIONALEATORIA, "Seleccion aleatoria", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("Proyecto.SELECCIONALEATORIA", (SelectList)@ViewBag.seleccionarSiNo, htmlAttributes: new { @class = "chosen-select form-control" })
                        @Html.ValidationMessageFor(model => model.Proyecto.SELECCIONALEATORIA, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Proyecto.CONFIANZA, "Confianza", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Proyecto.CONFIANZA, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Proyecto.CONFIANZA, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Proyecto.NUMEROPARCELAS, "Numero parcelas", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Proyecto.NUMEROPARCELAS, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Proyecto.NUMEROPARCELAS, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Proyecto.NUMEROPARCELASAMUESTREAR, "Numero parcelas", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Proyecto.NUMEROPARCELASAMUESTREAR, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Proyecto.NUMEROPARCELASAMUESTREAR, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Proyecto.TAMANIOPARCELA, "Tamaño parcela", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Proyecto.TAMANIOPARCELA, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Proyecto.TAMANIOPARCELA, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Proyecto.AREATOTAL, "Area total", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Proyecto.AREATOTAL, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Proyecto.AREATOTAL, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Proyecto.INTMUESTREO, "Intensidad de muestreo", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Proyecto.INTMUESTREO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Proyecto.INTMUESTREO, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Proyecto.LIMITINFDAP, "Limite Inf. D.A.P", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Proyecto.LIMITINFDAP, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Proyecto.LIMITINFDAP, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Proyecto.AREAREGENERACION, "Area de regeneracion", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Proyecto.AREAREGENERACION, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Proyecto.AREAREGENERACION, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Proyecto.FACTORDEFORMA, "Factor de forma", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Proyecto.FACTORDEFORMA, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Proyecto.FACTORDEFORMA, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
        </div>
        <div id="tabs-2">
            <div class="form-horizontal">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="especieDataTables">
                        <thead>
                            <tr>
                                <th>
                                    Familia
                                </th>
                                <th>
                                    Nombre cientifico
                                </th>
                                <th>
                                    Nombre comun
                                </th>
                                <th>
                                    Seleccionar
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @Html.EditorFor(model => model.Especies)
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="tabs-3">
            <div class="form-horizontal">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="estratoDataTables">
                        <thead>
                            <tr>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Peso
                                </th>
                                <th>
                                    Tamaño
                                </th>
                                <th>
                                    Seleccionar
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @Html.EditorFor(model => model.Estratos)
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="tabs-4">
            <div class="form-horizontal">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="estratoDataTables">
                        <thead>
                            <tr>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Seleccionar
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @Html.EditorFor(model => model.TipoLineaInventario)
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="tabs-5">
            <div class="form-horizontal">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="formulaDataTables">
                        <thead>
                            <tr>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Seleccionar
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @Html.EditorFor(model => model.Formulas)
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="tabs-6">
            <div class="form-horizontal">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="costoDataTables">
                        <thead>
                            <tr>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Valor
                                </th>
                                <th>
                                    Seleccionar
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @Html.EditorFor(model => model.Costos)
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="tabs-7">
            <div class="form-horizontal">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="localidadDataTables">
                        <thead>
                            <tr>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Seleccionar
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @Html.EditorFor(model => model.Localidades)
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a href="@Url.Action("Index", "PROYECTO")" class="btn btn-primary"><i class="fa fa-arrow-left "></i> Regresar</a>
            <input type="submit" value="Crear proyecto" id="guardar" class="btn btn-primary ">
        </div>
    </div>
}
