<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/assets/js/dataTables/dataTables.bootstrap.css")
    @Styles.Render("~/assets/css/bootstrap.css")
    @Styles.Render("~/assets/css/font-awesome.css")
    @Styles.Render("~/assets/js/morris/morris-0.4.3.min.css")
    @Styles.Render("~/assets/css/custom.css")
    @Styles.Render("~/assets/css/chosen.css")
    @Styles.Render("~/assets/css/jquery-ui-themes-1.11.3/themes/smoothness/jquery-ui.css")
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            @Html.ActionLink("SIFCA", "Index", "Home", null, new { @class = "navbar-brand" })
            <div style="color: white;
                    padding: 15px 50px 5px 50px;
                    float: right;
                    font-size: 16px;">
                @Html.ActionLink("Salir", "LogOff", "Account", null, new { @class = "btn btn-danger square-btn-adjust" })
            </div>
        </nav>
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li class="text-center">
                        <img src="~/assets/img/tree-vinay-hi.png" class="user-image img-responsive" />
                    </li>
                    <li>
                        <a class="@(ViewBag.MenuActivo == "Usuario" ? "active-menu" : "")" href="@Url.Action("Index", "USUARIO")"><i class="fa fa-male fa-3x"></i>Usuarios </a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-cogs fa-3x"></i> Configuración<span class="fa arrow"></span></a>
                        <ul class="@((ViewBag.MenuActivo == "TipoFormula" || ViewBag.MenuActivo == "Formula" || ViewBag.MenuActivo == "Especie" || ViewBag.MenuActivo == "GrupoComercial" || ViewBag.MenuActivo == "Localidad" || ViewBag.MenuActivo == "ObjetivoInventario" || ViewBag.MenuActivo == "Estrato" || ViewBag.MenuActivo == "Variable" || ViewBag.MenuActivo == "Dominio" || ViewBag.MenuActivo == "TipoLineaInventario" || ViewBag.MenuActivo == "Costos") ? "nav nav-second-level collapse in" : "nav nav-second-level collapse")">
                            <li>
                                <a class="@(ViewBag.MenuActivo == "Especie" ? "active-menu" : "")" href="@Url.Action("Index", "ESPECIE")">Especies</a>
                            </li>
                            <li>
                                <a class="@(ViewBag.MenuActivo == "GrupoComercial" ? "active-menu" : "")" href="@Url.Action("Index", "GRUPOCOMERCIAL")">Grupo comercial</a>
                            </li>
                            <li>
                                <a class="@(ViewBag.MenuActivo == "Localidad" ? "active-menu" : "")" href="@Url.Action("Index", "LOCALIDAD")">Localidad</a>
                            </li>
                            <li>
                                <a class="@(ViewBag.MenuActivo == "Costos" ? "active-menu" : "")" href="@Url.Action("Index", "COSTOS")">Costos</a>
                            </li>
                            <li>
                                <a class="@(ViewBag.MenuActivo == "ObjetivoInventario" ? "active-menu" : "")" href="@Url.Action("Index", "OBJETIVOINVENTARIO")">Objetivo inventario</a>
                            </li>
                            <li>
                                <a class="@(ViewBag.MenuActivo == "Estrato" ? "active-menu" : "")" href="@Url.Action("Index", "ESTRATO")">Estratos</a>
                            </li>
                            <li>
                                <a class="@(ViewBag.MenuActivo == "Formula" ? "active-menu" : "")" href="@Url.Action("Index", "FORMULA")">Formulas</a>
                            </li>
                            <li>
                                <a class="@(ViewBag.MenuActivo == "TipoFormula" ? "active-menu" : "")" href="@Url.Action("Index", "TIPOFORMULA")">Tipo formulas</a>
                            </li>
                            <li>
                                <a class="@(ViewBag.MenuActivo == "TipoLineaInventario" ? "active-menu" : "")" href="@Url.Action("Index", "TIPOLINEAINVENTARIO")">Tipo linea inventario</a>
                            </li>
                            <li>
                                <a class="@(ViewBag.MenuActivo == "Variable" ? "active-menu" : "")" href="@Url.Action("Index", "VARIABLE")">Variables</a>
                            </li>
                            <li>
                                <a class="@(ViewBag.MenuActivo == "Dominio" ? "active-menu" : "")" href="@Url.Action("Index", "DOMINIO")">Domino variables</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="@(ViewBag.MenuActivo == "Proyecto" ? "active-menu" : "")" href="@Url.Action("Index", "PROYECTO")"><i class="fa fa-edit fa-3x"></i>Formular proyectos</a>
                    </li>
                    <li>
                        <a class ="@(ViewBag.MenuActivo == "Inventario" ? "active-menu" : "")" href="@Url.Action("Index", "Home")"><i class="fa fa-star-o fa-3x"></i>Inventario</a>
                    </li>
                    <li>
                        <a class="@(ViewBag.MenuActivo == "Reporte" ? "active-menu" : "")" href="@Url.Action("Index", "Home")"><i class="fa fa-bar-chart-o fa-3x"></i> Reportes</a>
                    </li>

                </ul>
            </div>
        </nav>
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h2>SIFCA</h2>
                        <h5>Sistema de Informacíon Forestal para el Departamento de Cauca, Bienvenidos. </h5>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                        <div id="dialog-confirm" title="Confirmar eliminación." style="display:none;">
                            <p>
                                <span class="ui-icon ui-icon-alert" style="float:left; margin:0 20px 20px 0;">
                                </span>¿Esta seguro de querer eliminar este registro?
                            </p>
                        </div>
                        <div id="dialog-result" title="Operación exitosa." style="display:none;">
                            <p>
                                <span class="ui-icon ui-icon-info" style="float:left; margin:0 20px 20px 0;">
                                </span>El registro fue eliminado exitosamente.
                            </p>
                        </div>
                        <div id="dialog-error" title="Operación fallida." style="display:none;">
                            <p>
                                <span class="ui-icon ui-icon-info" style="float:left; margin:0 20px 20px 0;">
                                </span>El registro no fue eliminado exitosamente.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>
    @Scripts.Render("~/assets/js/jquery-1.10.2.js")
    @Scripts.Render("~/assets/js/bootstrap.min.js")
    @Scripts.Render("~/assets/js/jquery.metisMenu.js")
    @Scripts.Render("~/assets/js/morris/raphael-2.1.0.min.js")
    @Scripts.Render("~/assets/js/dataTables/jquery.dataTables.js")
    @Scripts.Render("~/assets/js/dataTables/dataTables.bootstrap.js")
    @Scripts.Render("~/assets/js/jquery-ui-1.11.3/jquery-ui.js")
    @Scripts.Render("~/assets/js/jssor.js")
    @Scripts.Render("~/assets/js/jssor.slider.js")
    @Scripts.Render("~/assets/js/chosen.jquery.js")
    <script type="text/javascript">
        $(document).ready(function ()
        {
                    //fechas
                    $("#datepicker").datepicker({
                        dateFormat: "dd/mm/yy",
                        timeFormat: "HH:mm:ss tt"
                    });

                    //configurar menu de opciones crear proyecto
                    $("#tabs").tabs();

                    //Configurar paginacion y busqueda en tablas
                    $('#dataTables').dataTable({
                        "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "Todos"]],
                        "iDisplayLength": 10
                    });
                    
                   var deleteLinkObj;

                   var config =
                   {
                        '.chosen-select': {},
                        '.chosen-select-deselect': { allow_single_deselect: true },
                        '.chosen-select-no-single': { disable_search_threshold: 10 },
                        '.chosen-select-no-results': { no_results_text: 'No se encontro ningun registro.' },
                        '.chosen-select-width': { width: "95%" }
                    }

                    for (var selector in config) {
                        $(selector).chosen(config[selector]);
                    }

                    $('#dataTables').on('click', '.delete-link', function () {
                        var txt = $(this).text();
                        if (txt != 'Salir') {
                            deleteLinkObj = $(this);  //for future use
                            $('#dialog-confirm').dialog('open');
                            return false; // prevents the default behaviour
                        }
                    });


                    $("#dialog-error").dialog({
                        autoOpen: false, width: 400, resizable: false, modal: true, //Dialog options
                        buttons: {
                            "Aceptar": function () {
                                $(this).dialog("close");
                            }
                        }
                    });

                    $("#dialog-result").dialog({
                        autoOpen: false, width: 400, resizable: false, modal: true, //Dialog options
                        buttons: {
                            "Aceptar": function () {
                                $(this).dialog("close");
                            }
                        }
                    });


                    $('#dialog-confirm').dialog({
                        autoOpen: false, width: 400, resizable: false, modal: true, //Dialog options
                        buttons: {
                            "Continuar": function () {
                                $.post(deleteLinkObj[0].href, function (data) {  //Post to action
                                    if (data == '@Boolean.TrueString') {
                                        deleteLinkObj.closest("tr").hide('fast'); //Hide Row
                                        $('#dialog-result').dialog('open');
                                    }
                                    else {
                                        $('#dialog-error').dialog('open');
                                    }
                                });
                                $(this).dialog("close");
                            },
                            "Cancelar": function () {
                                $(this).dialog("close");
                            }
                        }
                    });
                    
                    @RenderSection("scripts", false);
                });

            function isNumberKey(evt)
            {
                var charCode = (evt.which) ? evt.which : event.keyCode
                if (charCode > 31 && (charCode != 46 && charCode != 44 && (charCode < 48 || charCode > 57)))
                    return false;
                return true;
            }
    </script>
    @Scripts.Render("~/assets/js/custom.js")
</body>
</html>
