@model SIFCA.Models.ESTRATO

@{
    ViewBag.Title = "Crear estrato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Crear estrato</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.DESCRIPESTRATO,"Descripcion estrato", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.DESCRIPESTRATO, 5, 116, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DESCRIPESTRATO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear estrato" class="btn btn-primary" />
            </div>
        </div>
    </div>
}


<div>
    <a href="@Url.Action("Index", "ESTRATO")" class="btn btn-primary"><i class="fa fa-arrow-left "></i> Regresar</a>
</div>
